*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
jwt_token/jwt_token/[Dd]ebug/
jwt_token/jwt_token/[Dd]ebugPublic/
jwt_token/jwt_token/[Rr]elease/
jwt_token/jwt_token/[Rr]eleases/
x64/
x86/
build/
bld/
jwt_token/jwt_token/[Bb]in/
jwt_token/jwt_token/[Oo]bj/
jwt_token/jwt_token/[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
jwt_token/jwt_token/bin/Debug/net5.0/jwt_token.deps.json
jwt_token/jwt_token/obj/Debug/net5.0/jwt_token.csproj.FileListAbsolute.txt
